*{
    margin: 0;
    padding: 0;
    background-color:ghostwhite ;
    width: 100%;

}

h1, h2{
    text-align: center;
}

#inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: 15px;
    margin: 15px;
    width: 300px;
}
button{
    padding: 15px;
    margin: 15px;
    width: 150px;
}
.box p{
    font-size: 15px;

}
.cartelera{
    display: block;
    padding: 10px 20px;
    position: sticky;
}

img{
    width: 250px;
    height: 150px;
}
.botonWeb, .verCarrito {
    margin: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  
  #formulario{
    display: none;
    margin: 10px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }